.services{
    padding: 100px;
    background-color: #f0f0f0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.good {
    width: 1180;
    height: 436px;
    display: flex;
    background-color: #fff;
    padding: 15px; 
    border-radius: 5px;
}

.good-container {
    width: 100%;
    border-radius: 5px;
  
}

.good-left {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.square {
    width: 320px;
    height: 320px;
    background-color: #ccc;
    border-radius: 5px;
}

.good-right {
    width: 70%; 
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    
}

.good-name {
    color: #F86338;
    font-family: 'DM Sans', sans-serif;
    font-size: 39px;
    font-weight: bold;
    line-height: 120%;
    letter-spacing: 0.5px;
    margin: 0;
}





.good-links p{
    height: 80px;
    width: 512px;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.5;
    color: #9A9AB0;
    
}
.good-links h5{
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 120%;
    letter-spacing: 0.5px;
    height: 29;
    width:189
}
.good-links .ex{
  
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 1.20;
    letter-spacing: 0.5;
    color: #515151;
    
}



  
  
  

  
 