.shop-container {
    margin: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    height: 500px;
  }
  .shop-link{
text-decoration: none;
color: black;
}
  .shop-left {
    flex: 1;
  }
  
  .shop-left img {
    padding-bottom: 190px;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .shop-right {
    flex: 1;
  }
  
  .shop-right img {
    margin-left: -100px;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
 
  
  .shop-right h1 {
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 0.3%;
    margin-bottom: 10px;
  }
  
  .shop-description {
    padding-top: 30px;
    font-family: 'DM Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .shop-button {
    margin-top: 20px;
  }
  
  .shop-button button {
    background-color: #F3692E;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  
  .shop-left img:hover,
  .shop-right img:hover,
  .shop-right-img:hover,
  .shop-botton-img:hover {
    transform: scale(1.05);
    opacity: 0.9; 
  }