.story {
    display: flex;
    min-height: 100vh;
    padding: 100px 40px 100px 40px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    flex-wrap: wrap; 
}

.story-left {
    flex: 1;
    position: relative;
    padding-left: 30px;
}

.box {
    
    height: 620px;
    width: 550px;
    border-radius: 5px;
    overflow: hidden;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.story-right {
    flex: 1;
    padding: 20px 20px 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000000;
}

.story-right h1 {
    font-size: 48px;
    margin: 0;
    color: #11142D;
    font-family: 'DM Sans', sans-serif;
    line-height: 1.20;
    letter-spacing: 0.5%;
    font-weight: bold;
}

.story-right p {
    font-size: 16px;
    margin: 20px 0;
    color: #7a7979;
    height: 200px;
    width: 504px;
    font-family: 'DM Sans', sans-serif;
    line-height: 1.25;
    letter-spacing: 0.5%;
    padding-right: 80px;
}

.story-right h6 {
    font-size: 1rem;
    color: #F86338;
    cursor: pointer;
    margin-top: 20px;
    transition: color 0.3s;
}

.story-right h6:hover {
    color: #333333;
}



@media (max-width: 768px) {
    .story {
        flex-direction: column;
        padding: 20px;
       
    }

    .story-left,
    .story-right {
        flex: 1 1 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .box {
        width: 100%;
        height: 400px; 
        margin-top: 90px;
        padding-left: 60px;
        padding-right: 60px;
        
    }
    .story-right{
        padding-top: 50px;
    }

    .story-right h1 {
        font-size: 28px; 
        padding-left: 290px;
        align-items: center;
    }

    .story-right p {
        padding-top: 20px;
       text-align:justify;
        font-size: 14px;
        padding-left: 10px;
        margin-left: 150px;
        margin-bottom: 0;
        padding-bottom: 0;
        
    }

    .story-right h6 {
        font-size: 0.9rem;
        margin-left: 160px;
        padding-bottom: 10px;

    }
}

@media (max-width: 480px) {
    .story {
        padding: 15px;
    }

    .box {
        height: 300px; 
    }

    .story-right h1 {
        font-size: 24px; 
    }

    .story-right p {
        font-size: 12px; 
        width: 100%;
        padding-right: 10px;
    }

    .story-right h6 {
        font-size: 0.8rem; 
    }
}






